 <html>
    <head>
        <meta charset="UTF-8" />
        <title>음식 수정</title>
        <h1>음식수정</h1>
    </head>
    <body>
        <br>
        <form name="input" method="POST" action="../FoodUpdate/<%= data.id %>">
이름  : <input type="text" name="name" value="<%= data.name %>" style="width:200px;"></br>
종류  : <input type="text" name="kind" value="<%= data.kind %>"style="width:200px;"></br>
특징  : <input type="text" name="explanation" value="<%= data.explanation %>" style="width:600px;"></br>
이미지 : <input type="file" name="thumbnail" value="<%= image.image %> "> <br><br>
<p>
<input type="submit" value="수정">  <input type="button" value="돌아가기" onclick="history.back(-1)">
</p>
</pre>
    </form> 
</body>
</html>