<html>
<head>
   <meta charset="UTF-8" />
    <title>Food</title>
</head>
<body>
    <h1><%= detail.food %> 수정하기</h1> 
    <form action="/foods/edit" method="POST" >
        <input type="hidden" name="id" value="<%= detail.id %>">
<pre>
음식  : <input type="text" name="food"" value="<%= detail.food %>" style="width:200px;"></br>
종류  : <input type="text" name="kind" value="<%= detail.kind %>"style="width:200px;"></br>
특징  : <input type="text" name="explanation" value="<%= detail.explanation %>" style="width:600px;">

<p>
<input type="submit" value="수정">  <input type="button" value="돌아가기" onclick="history.back(-1)">
</p>
</pre>
    </form> 
</body>
</html>